.pets {
    border: 2px solid;
}

li {
    font-size: 0.8em;
    line-height: 1.5em;
}

ul {
    padding-inline-start: 1.2em;
    list-style: none;
}

.dog li::marker {
    content: "\1F436";
}

.cat li::marker {
    content: "\1F63E";
}

.parrot li::marker {
    content: "\1F99C";
}

.snake li::marker {
    content: "\1F40D";
}

.lizzard li::marker {
    content: "\1F98E";
}
